/* line 15, ../SCSS/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 21, ../SCSS/style.scss */
body {
  color: white;
  font-size: 14px; }
  /* line 24, ../SCSS/style.scss */
  body h1 {
    font-family: "Raleway", sans-serif;
    line-height: 3.5rem; }
  /* line 28, ../SCSS/style.scss */
  body h2 {
    font-family: "Raleway", sans-serif;
    line-height: 3.5rem; }
  /* line 32, ../SCSS/style.scss */
  body p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5rem;
    font-weight: 400; }

/* line 39, ../SCSS/style.scss */
.container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #181f2a; }

/* line 49, ../SCSS/style.scss */
.container-nav {
  width: 100%;
  height: auto;
  padding: 4rem 5rem;
  background-color: #1c2431; }
  /* line 55, ../SCSS/style.scss */
  .container-nav .container-nav-flex {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    /* line 60, ../SCSS/style.scss */
    .container-nav .container-nav-flex ul {
      display: flex;
      list-style: none; }
      /* line 64, ../SCSS/style.scss */
      .container-nav .container-nav-flex ul li {
        font-family: "Raleway", sans-serif;
        margin-left: 3rem; }
        /* line 68, ../SCSS/style.scss */
        .container-nav .container-nav-flex ul li a {
          text-decoration: none;
          transition: color 0.2s;
          color: white; }
        /* line 73, ../SCSS/style.scss */
        .container-nav .container-nav-flex ul li a:hover {
          color: #65e2d9; }

/* line 83, ../SCSS/style.scss */
.container-header {
  width: 100%;
  height: auto;
  background-color: #1c2431;
  background-image: url(../IMG/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom; }
  /* line 92, ../SCSS/style.scss */
  .container-header h1 {
    font-size: 2.5rem;
    margin-top: 2rem; }
  /* line 96, ../SCSS/style.scss */
  .container-header p {
    margin-top: 2rem;
    font-size: 1.2rem; }
  /* line 103, ../SCSS/style.scss */
  .container-header .btn {
    width: 100%;
    margin-top: 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
    transition: color 0.5s; }
    /* line 112, ../SCSS/style.scss */
    .container-header .btn a {
      padding: 1rem 5rem;
      border-radius: 2rem;
      background: linear-gradient(to right, #65e2d9, #339ecc);
      text-decoration: none;
      color: white; }
  /* line 121, ../SCSS/style.scss */
  .container-header .btn:hover {
    width: 100%;
    margin-top: 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700; }
    /* line 129, ../SCSS/style.scss */
    .container-header .btn:hover a {
      padding: 1rem 5rem;
      border-radius: 2rem;
      background: #65e2d9;
      text-decoration: none;
      color: white; }

/* line 141, ../SCSS/style.scss */
.container-content {
  width: 100%;
  height: auto;
  margin-top: 12rem; }
  /* line 146, ../SCSS/style.scss */
  .container-content .container-content-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas: "Access security" "real store";
    grid-gap: 5rem; }
    /* line 157, ../SCSS/style.scss */
    .container-content .container-content-grid .content-Access {
      grid-area: Access;
      justify-self: flex-end;
      padding-right: 2.5rem; }
    /* line 162, ../SCSS/style.scss */
    .container-content .container-content-grid .content-security {
      grid-area: security;
      justify-self: flex-start;
      padding-left: 2.5rem; }
    /* line 167, ../SCSS/style.scss */
    .container-content .container-content-grid .content-real {
      grid-area: real;
      justify-self: flex-end;
      padding-right: 2.5rem; }
    /* line 172, ../SCSS/style.scss */
    .container-content .container-content-grid .content-store {
      grid-area: store;
      justify-self: flex-start;
      padding-left: 2.5rem; }

/* line 182, ../SCSS/style.scss */
.header-middle {
  width: 100%;
  height: auto;
  margin-top: 10rem; }
  /* line 187, ../SCSS/style.scss */
  .header-middle h1 {
    font-size: 2.5rem;
    margin-top: 2rem; }
  /* line 191, ../SCSS/style.scss */
  .header-middle p {
    margin-top: 2rem;
    font-size: 1.1rem; }
  /* line 196, ../SCSS/style.scss */
  .header-middle .header-middle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    grid-gap: 4rem; }
    /* line 202, ../SCSS/style.scss */
    .header-middle .header-middle-grid img {
      width: 100%;
      justify-self: end; }
    /* line 207, ../SCSS/style.scss */
    .header-middle .header-middle-grid .header-middle-text {
      align-self: center; }
      /* line 210, ../SCSS/style.scss */
      .header-middle .header-middle-grid .header-middle-text .see-how {
        display: flex;
        margin-top: 1.5rem; }
        /* line 214, ../SCSS/style.scss */
        .header-middle .header-middle-grid .header-middle-text .see-how a {
          text-decoration: none;
          font-size: 1.1rem;
          font-family: "Raleway", sans-serif;
          color: #65e2d9;
          border-bottom: solid 1px; }
        /* line 222, ../SCSS/style.scss */
        .header-middle .header-middle-grid .header-middle-text .see-how img {
          width: 1rem;
          margin-left: 0.5rem;
          margin-top: 3.3px; }
      /* line 228, ../SCSS/style.scss */
      .header-middle .header-middle-grid .header-middle-text .see-how:hover {
        display: flex;
        margin-top: 1.5rem;
        transition: color 0.5s; }
        /* line 233, ../SCSS/style.scss */
        .header-middle .header-middle-grid .header-middle-text .see-how:hover a {
          font-size: 1.1rem;
          font-family: "Raleway", sans-serif;
          color: white; }
        /* line 239, ../SCSS/style.scss */
        .header-middle .header-middle-grid .header-middle-text .see-how:hover img {
          margin-left: 0.5rem;
          margin-top: 3.3px; }

/* line 250, ../SCSS/style.scss */
.container-feedback {
  width: 100%;
  height: 410px;
  margin-top: 10rem;
  background-image: url(../IMG/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: top 12% left 8%; }
  /* line 259, ../SCSS/style.scss */
  .container-feedback .container-feedback-grid {
    width: 100%;
    height: 100%;
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "feedback1 feedback2 feedback3";
    grid-gap: 3rem;
    text-align: left; }
    /* line 269, ../SCSS/style.scss */
    .container-feedback .container-feedback-grid .feedback-1 {
      grid-area: feedback1;
      perspective: 150rem;
      position: relative; }
      /* line 274, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1-side {
        padding: 3rem 2rem 2rem 2rem;
        background-color: #202a3c;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; }
        /* line 284, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-1-side--front {
          transform: rotateY(0); }
        /* line 287, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-1-side--back {
          transform: rotateY(180deg); }
      /* line 292, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1 p {
        margin-bottom: 1.5rem; }
      /* line 296, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1 .profile {
        display: inline-block;
        margin-left: 1rem; }
        /* line 300, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-1 .profile .p-p {
          margin-bottom: 0; }
      /* line 305, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1 .img-front {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left; }
      /* line 311, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1 .img-back {
        width: 100%; }
      /* line 314, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1:hover .feedback-1-side--front {
        transform: rotateY(-180deg); }
      /* line 317, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-1:hover .feedback-1-side--back {
        transform: rotateY(0); }
    /* line 322, ../SCSS/style.scss */
    .container-feedback .container-feedback-grid .feedback-2 {
      grid-area: feedback2;
      perspective: 150rem;
      position: relative; }
      /* line 327, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2-side {
        padding: 3rem 2rem 2rem 2rem;
        background-color: #202a3c;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; }
        /* line 337, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-2-side--front {
          transform: rotateY(0); }
        /* line 340, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-2-side--back {
          transform: rotateY(180deg); }
      /* line 345, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2 p {
        margin-bottom: 1.5rem; }
      /* line 349, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2 .profile {
        display: inline-block;
        margin-left: 1rem; }
        /* line 353, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-2 .profile .p-p {
          margin-bottom: 0; }
      /* line 358, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2 .img-front {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left; }
      /* line 364, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2 .img-back {
        width: 100%; }
      /* line 367, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2:hover .feedback-2-side--front {
        transform: rotateY(-180deg); }
      /* line 370, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-2:hover .feedback-2-side--back {
        transform: rotateY(0); }
    /* line 375, ../SCSS/style.scss */
    .container-feedback .container-feedback-grid .feedback-3 {
      grid-area: feedback3;
      perspective: 150rem;
      position: relative; }
      /* line 380, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3-side {
        padding: 3rem 2rem 2rem 2rem;
        background-color: #202a3c;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; }
        /* line 390, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-3-side--front {
          transform: rotateY(0); }
        /* line 393, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-3-side--back {
          transform: rotateY(180deg); }
      /* line 398, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3 p {
        margin-bottom: 1.5rem; }
      /* line 402, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3 .profile {
        display: inline-block;
        margin-left: 1rem; }
        /* line 406, ../SCSS/style.scss */
        .container-feedback .container-feedback-grid .feedback-3 .profile .p-p {
          margin-bottom: 0; }
      /* line 411, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3 .img-front {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left; }
      /* line 417, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3 .img-back {
        width: 100%; }
      /* line 420, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3:hover .feedback-3-side--front {
        transform: rotateY(-180deg); }
      /* line 423, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .feedback-3:hover .feedback-3-side--back {
        transform: rotateY(0); }

/* line 432, ../SCSS/style.scss */
.container-bottom {
  max-width: 900px;
  width: 100%;
  height: auto;
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  box-shadow: 5px 5px 10px black;
  z-index: 9999; }
  /* line 443, ../SCSS/style.scss */
  .container-bottom h1 {
    margin-bottom: 0.5rem; }
  /* line 447, ../SCSS/style.scss */
  .container-bottom .container-bottom-grid {
    border-radius: 10px;
    background-color: #1c2431;
    display: grid;
    grid-template-columns: repeat(2, 65% 35%);
    grid-template-rows: repeat(2);
    grid-template-areas: "text1 text1" "email btn";
    grid-gap: 2rem; }
    /* line 458, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid .text-bottom {
      margin-top: 2rem;
      grid-area: text1;
      text-align: center; }
    /* line 464, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid .email-box {
      grid-area: email;
      justify-self: flex-end; }
      /* line 468, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .email-box input {
        width: 500px;
        height: 50px;
        outline: none;
        text-align: center;
        border-radius: 30px; }
      /* line 476, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .email-box p {
        text-align: left;
        color: #ff4242;
        font-size: 10px;
        margin-left: 2rem; }
    /* line 484, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid .btn-bottom {
      grid-area: btn;
      justify-self: flex-start;
      margin-top: 1rem;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      transition: color 0.5s; }
      /* line 493, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .btn-bottom a {
        padding: 1rem 2rem;
        border-radius: 2rem;
        background: linear-gradient(to right, #65e2d9, #339ecc);
        text-decoration: none;
        color: white; }
    /* line 502, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid .btn-bottom:hover {
      grid-area: btn;
      justify-self: flex-start;
      font-family: "Raleway", sans-serif;
      font-weight: 700; }
      /* line 509, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .btn-bottom:hover a {
        padding: 1rem 2rem;
        border-radius: 2rem;
        background: #65e2d9;
        text-decoration: none;
        color: white; }

/* line 522, ../SCSS/style.scss */
.container-footer {
  width: 100%;
  height: auto;
  background-color: #0b1523;
  position: relative;
  margin-top: 15rem; }
  /* line 529, ../SCSS/style.scss */
  .container-footer .container-footer-grid {
    width: 100%;
    height: auto;
    padding: 11rem 3rem 2rem 7rem;
    display: grid;
    grid-template-columns: repeat(4, 30% 25% 25% 20%);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo logo logo logo" "address tel about social";
    grid-gap: 2rem; }
    /* line 541, ../SCSS/style.scss */
    .container-footer .container-footer-grid .logo-footer {
      grid-area: logo;
      justify-self: flex-start; }
      /* line 545, ../SCSS/style.scss */
      .container-footer .container-footer-grid .logo-footer img {
        width: 7rem; }
    /* line 549, ../SCSS/style.scss */
    .container-footer .container-footer-grid .address {
      grid-area: address;
      display: flex; }
      /* line 553, ../SCSS/style.scss */
      .container-footer .container-footer-grid .address img {
        width: 15px;
        height: 20px;
        margin-top: 10px; }
      /* line 558, ../SCSS/style.scss */
      .container-footer .container-footer-grid .address p {
        text-align: left;
        margin-left: 1rem;
        font-size: 1rem; }
    /* line 564, ../SCSS/style.scss */
    .container-footer .container-footer-grid .tel {
      grid-area: tel;
      justify-self: center; }
      /* line 567, ../SCSS/style.scss */
      .container-footer .container-footer-grid .tel P {
        margin-left: 1.5rem; }
      /* line 571, ../SCSS/style.scss */
      .container-footer .container-footer-grid .tel .tel-me {
        display: flex; }
      /* line 574, ../SCSS/style.scss */
      .container-footer .container-footer-grid .tel .email {
        display: flex;
        margin-top: 1rem; }
    /* line 579, ../SCSS/style.scss */
    .container-footer .container-footer-grid .about {
      grid-area: about;
      justify-self: flex-start;
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      /* line 586, ../SCSS/style.scss */
      .container-footer .container-footer-grid .about a {
        text-decoration: none; }
      /* line 589, ../SCSS/style.scss */
      .container-footer .container-footer-grid .about P {
        color: white;
        margin-left: 1.5rem;
        margin-bottom: 1.1rem;
        transition: color 0.2s; }
      /* line 596, ../SCSS/style.scss */
      .container-footer .container-footer-grid .about p:hover {
        color: #65e2d9; }
    /* line 600, ../SCSS/style.scss */
    .container-footer .container-footer-grid .social-logo {
      grid-area: social;
      justify-self: flex-start;
      font-size: 160%; }
      /* line 605, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo a {
        margin-right: 1rem; }
      /* line 609, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo .ion-social-facebook,
      .container-footer .container-footer-grid .social-logo .ion-social-twitter,
      .container-footer .container-footer-grid .social-logo .ion-social-instagram {
        color: white;
        transition: color 0.2s;
        overflow: hidden; }
      /* line 617, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo .ion-social-facebook:hover {
        color: #3b5998; }
      /* line 620, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo .ion-social-twitter:hover {
        color: #55acee; }
      /* line 623, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo .ion-social-instagram:hover {
        color: #e95950; }

/* line 632, ../SCSS/style.scss */
.coded {
  display: flex;
  color: #0b1523;
  text-align: center;
  justify-content: center;
  padding: 1rem 0; }
  /* line 639, ../SCSS/style.scss */
  .coded a {
    text-decoration: none; }

@media (max-width: 1023px) {
  /* line 649, ../SCSS/style.scss */
  .container-feedback {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 7rem;
    margin-bottom: 20rem;
    background-image: url(../IMG/bg-quotes.png);
    background-position: top 0 left 8%; }
    /* line 659, ../SCSS/style.scss */
    .container-feedback .container-feedback-grid {
      width: 100%;
      height: 900px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "feedback1" "feedback2" "feedback3";
      grid-gap: 3rem;
      text-align: center; }
      /* line 672, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .profile-1 .img-front,
      .container-feedback .container-feedback-grid .profile-2 .img-front,
      .container-feedback .container-feedback-grid .profile-3 .img-front {
        float: none; }
      /* line 676, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .img-back {
        max-width: 150px;
        height: 150px;
        border-radius: 50%; }

  /* line 686, ../SCSS/style.scss */
  .container-bottom {
    padding: 1rem;
    width: 100%;
    position: relative;
    box-shadow: none; }
    /* line 692, ../SCSS/style.scss */
    .container-bottom h1 {
      margin-bottom: 0.5rem; }
    /* line 696, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid {
      width: 100%;
      height: auto;
      padding: 5rem 3rem;
      border-radius: 10px;
      background-color: #1c2431;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "text1" "email" "btn";
      grid-gap: 0;
      text-align: center; }
      /* line 711, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .text-bottom {
        grid-area: text1;
        text-align: center;
        margin-top: 0; }
      /* line 717, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .email-box {
        grid-area: email;
        justify-self: center; }
        /* line 721, ../SCSS/style.scss */
        .container-bottom .container-bottom-grid .email-box input {
          width: 330px;
          height: 50px;
          text-align: center; }
      /* line 728, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .btn-bottom {
        grid-area: btn;
        justify-self: center; }
        /* line 732, ../SCSS/style.scss */
        .container-bottom .container-bottom-grid .btn-bottom a {
          padding: 1rem 6rem;
          border-radius: 2rem; }

  /* line 742, ../SCSS/style.scss */
  .container-footer {
    width: 100%;
    height: auto;
    margin-top: 10rem; }
    /* line 747, ../SCSS/style.scss */
    .container-footer .container-footer-grid {
      width: 100%;
      height: auto;
      padding: 5rem 2rem 2rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "address" "tel" "about" "social";
      grid-gap: 2rem; }
      /* line 761, ../SCSS/style.scss */
      .container-footer .container-footer-grid .logo-footer {
        grid-area: logo;
        justify-self: center; }
        /* line 765, ../SCSS/style.scss */
        .container-footer .container-footer-grid .logo-footer img {
          width: 100%; }
      /* line 770, ../SCSS/style.scss */
      .container-footer .container-footer-grid .address {
        justify-self: center; }
      /* line 774, ../SCSS/style.scss */
      .container-footer .container-footer-grid .tel {
        grid-area: tel;
        justify-self: center; }
        /* line 777, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel P {
          margin-left: 1.5rem; }
        /* line 781, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel .tel-me {
          display: flex; }
        /* line 784, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel .email {
          display: flex;
          margin-top: 1.5rem; }
      /* line 789, ../SCSS/style.scss */
      .container-footer .container-footer-grid .about {
        grid-area: about;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        /* line 796, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about a {
          text-decoration: none; }
        /* line 799, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about P {
          color: white;
          text-align: left;
          margin-bottom: 0.8em; }
        /* line 805, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about .about-us {
          margin-top: 2.5rem; }
          /* line 807, ../SCSS/style.scss */
          .container-footer .container-footer-grid .about .about-us P {
            margin-left: 0; }
        /* line 811, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about .contact-us {
          margin-top: 2.5rem; }
      /* line 815, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo {
        margin-top: 1.5rem;
        grid-area: social;
        justify-self: center;
        font-size: 160%; } }
@media (max-width: 480px) {
  /* line 828, ../SCSS/style.scss */
  .container {
    max-width: 480px; }

  /* line 831, ../SCSS/style.scss */
  .container-nav {
    padding: 2rem; }
    /* line 834, ../SCSS/style.scss */
    .container-nav .container-nav-flex img {
      width: 6rem; }
    /* line 838, ../SCSS/style.scss */
    .container-nav .container-nav-flex ul li {
      font-family: "Raleway", sans-serif;
      margin-left: 1rem; }

  /* line 846, ../SCSS/style.scss */
  .container-header {
    width: 100%;
    padding: 2rem;
    background-image: url(../IMG/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom; }
    /* line 853, ../SCSS/style.scss */
    .container-header h1 {
      font-size: 2rem;
      margin-top: 1.5rem; }
    /* line 857, ../SCSS/style.scss */
    .container-header p {
      margin-top: 2rem;
      font-size: 1rem; }
    /* line 861, ../SCSS/style.scss */
    .container-header img {
      width: 100%; }

  /* line 867, ../SCSS/style.scss */
  .container-content {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    padding: 2rem; }
    /* line 873, ../SCSS/style.scss */
    .container-content .container-content-grid {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "Access" "security" "real" "store";
      grid-gap: 6rem; }
      /* line 885, ../SCSS/style.scss */
      .container-content .container-content-grid .content-Access {
        grid-area: Access;
        padding-right: 0; }
      /* line 889, ../SCSS/style.scss */
      .container-content .container-content-grid .content-security {
        grid-area: security;
        padding-left: 0; }
      /* line 893, ../SCSS/style.scss */
      .container-content .container-content-grid .content-real {
        grid-area: real;
        padding-right: 0; }
      /* line 897, ../SCSS/style.scss */
      .container-content .container-content-grid .content-store {
        grid-area: store;
        padding-left: 0; }

  /* line 906, ../SCSS/style.scss */
  .header-middle {
    width: 100%;
    height: auto;
    margin-top: 10rem;
    padding: 2rem; }
    /* line 912, ../SCSS/style.scss */
    .header-middle h1 {
      font-size: 2.5rem;
      margin-top: 1.5rem; }
    /* line 916, ../SCSS/style.scss */
    .header-middle p {
      margin-top: 2rem;
      font-size: 1rem; }
    /* line 921, ../SCSS/style.scss */
    .header-middle .header-middle-grid {
      display: grid;
      grid-template-columns: 1fr;
      text-align: left;
      grid-gap: 4rem; }
      /* line 927, ../SCSS/style.scss */
      .header-middle .header-middle-grid img {
        width: 100%;
        justify-self: end; }
      /* line 933, ../SCSS/style.scss */
      .header-middle .header-middle-grid .header-middle-text .see-how {
        display: flex;
        margin-top: 1.5rem; }
        /* line 937, ../SCSS/style.scss */
        .header-middle .header-middle-grid .header-middle-text .see-how img {
          width: 1rem; }
      /* line 943, ../SCSS/style.scss */
      .header-middle .header-middle-grid .header-middle-text .see-how:hover img {
        width: 1rem; }

  /* line 953, ../SCSS/style.scss */
  .container-feedback {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 7rem;
    margin-bottom: 20rem;
    background-image: url(../IMG/bg-quotes.png);
    background-position: top 0 left 8%; }
    /* line 963, ../SCSS/style.scss */
    .container-feedback .container-feedback-grid {
      width: 100%;
      height: 1000px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "feedback1" "feedback2" "feedback3";
      grid-gap: 3rem;
      text-align: center; }
      /* line 973, ../SCSS/style.scss */
      .container-feedback .container-feedback-grid .img-back {
        max-width: 150px;
        height: 150px; }

  /* line 982, ../SCSS/style.scss */
  .container-bottom {
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none; }
    /* line 989, ../SCSS/style.scss */
    .container-bottom h1 {
      margin-bottom: 0.5rem; }
    /* line 993, ../SCSS/style.scss */
    .container-bottom .container-bottom-grid {
      width: 100%;
      padding: 5rem 1rem;
      height: auto;
      border-radius: 10px;
      background-color: #1c2431;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "text1" "text1" "email" "btn";
      grid-gap: 0;
      text-align: center; }
      /* line 1009, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .text-bottom {
        margin-top: 2rem;
        grid-area: text1;
        text-align: center; }
      /* line 1015, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .email-box {
        grid-area: email;
        justify-self: center; }
        /* line 1019, ../SCSS/style.scss */
        .container-bottom .container-bottom-grid .email-box input {
          margin-top: 2rem;
          width: 330px;
          height: 50px;
          text-align: center; }
      /* line 1027, ../SCSS/style.scss */
      .container-bottom .container-bottom-grid .btn-bottom {
        grid-area: btn;
        justify-self: center; }
        /* line 1031, ../SCSS/style.scss */
        .container-bottom .container-bottom-grid .btn-bottom a {
          padding: 1rem 6rem;
          border-radius: 2rem; }

  /* line 1041, ../SCSS/style.scss */
  .container-footer {
    width: 100%;
    height: auto;
    margin-top: 3rem; }
    /* line 1046, ../SCSS/style.scss */
    .container-footer .container-footer-grid {
      width: 100%;
      height: auto;
      padding: 5rem 2rem 2rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "address" "tel" "about" "social";
      grid-gap: 2rem; }
      /* line 1060, ../SCSS/style.scss */
      .container-footer .container-footer-grid .logo-footer {
        grid-area: logo;
        justify-self: flex-start; }
        /* line 1064, ../SCSS/style.scss */
        .container-footer .container-footer-grid .logo-footer img {
          width: 100%; }
      /* line 1069, ../SCSS/style.scss */
      .container-footer .container-footer-grid .tel {
        grid-area: tel;
        justify-self: flex-start; }
        /* line 1072, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel P {
          margin-left: 1.5rem; }
        /* line 1076, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel .tel-me {
          display: flex; }
        /* line 1079, ../SCSS/style.scss */
        .container-footer .container-footer-grid .tel .email {
          display: flex;
          margin-top: 1.5rem; }
      /* line 1084, ../SCSS/style.scss */
      .container-footer .container-footer-grid .about {
        grid-area: about;
        justify-self: flex-start;
        display: grid;
        grid-template-columns: 1fr; }
        /* line 1091, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about a {
          text-decoration: none; }
        /* line 1094, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about P {
          color: white;
          text-align: left;
          margin-bottom: 0.8em;
          margin-left: 0; }
        /* line 1101, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about .about-us {
          margin-top: 2.5rem; }
        /* line 1104, ../SCSS/style.scss */
        .container-footer .container-footer-grid .about .contact-us {
          margin-top: 2.5rem; }
      /* line 1108, ../SCSS/style.scss */
      .container-footer .container-footer-grid .social-logo {
        margin-top: 1.5rem;
        grid-area: social;
        justify-self: center;
        font-size: 160%; }

  /* line 1119, ../SCSS/style.scss */
  .coded {
    padding: 1rem 1; }
    /* line 1122, ../SCSS/style.scss */
    .coded p {
      font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
